.body {
    padding: 0;
    margin: 0;
    background-color: rgb(224, 235, 240);
}
navbar {
    position: fixed !important;
    top: 0;
}

.About {
    color: red;
}


#contact h2, p {
    text-align: center;
    color: rgb(0, 0, 8);
}
