body {
    padding: 0;
    margin: 0;
}
navbar {
    position: fixed !important;
    top: 0;
}

.About {
    color: red;
}
#logo {
    display: grid;
    grid-template-rows: auto;
}

#appointment {
    margin-top: 100px !important;
    text-decoration: none;
    color:rgb(37, 122, 233);

}
#appointment a:hover{
    background-color: antiquewhite;
    color: black;

}
#contact h2, p {
    text-align: center;
    color: blue;
}
